{{ define "main" }}

<div class="">
    <p class="text-6xl title">Hello,</p>
    I'm an AI engineer passionate deep learning and the lastest research in the field. I
    specialize in image generation and especially Diffusion Models, the current state-of-the-art for this task. My
    background is more theoretical since I studied Mathematics and Applied Statistics, but I'm a practitionner too,
    with experience in building AI pipelines, working with libraries such <a
        href="https://huggingface.co/docs/diffusers/index" class="hover:opacity-50 underline">HuggingFace
        Diffusers</a> and building complex workflows in <a href="https://github.com/comfyanonymous/ComfyUI"
        class="hover:opacity-50 underline">ComfyUI</a>.
</div>
<div class="pt-20">
    {{ partial "posts_list.html" . }}
</div>
{{ end }}