{{ define "main" }}

<div class="">
    <p class="text-6xl title">Hello,</p>
    I'm an AI engineer passionate about deep learning and the latest research in the field. I specialize in image
    generation, particularly Diffusion Models, which are the current state of the art for this task. My background is
    more theoretical, since I studied Mathematics and Applied Statistics, but I'm also a practitioner with experience in building and training models using <a href="https://pytorch.org/"
        class="hover:opacity-50 underline">PyTorch</a> or higher level libraries such as <a href="https://huggingface.co/docs/diffusers/index"
        class="hover:opacity-50 underline">HuggingFace
        Diffusers</a> and building complex workflows in open-source tools like <a href="https://github.com/comfyanonymous/ComfyUI"
        class="hover:opacity-50 underline">ComfyUI</a>.
</div>
<div class="pt-20">
    {{ partial "posts_list.html" . }}
</div>
{{ end }}
